.btn{
    margin-left: 5px;
}
.space-top{
    margin-top: 10px
}
.form-control{
    width:100px;
    margin-left: 5px;
}
.dropdown{
    width:100px;
    margin-left: 5px;
}
.header{
    text-align: center;
    margin: 10px;
}
.broad{
    width:200px !important;
}