<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']">Mission App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/members']">Matches</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/lists']">List</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/messages']">Messages</a>
        </li>
      </ul>
      <div dropdown *ngIf="loggedIn()" class="dropdown">
        <a class="dropdown-toggle text-light" dropdownToggle>
          Welcome {{authService.decodedToken?.unique_name | titlecase}}
        </a>
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item" [routerLink]="['/edit']">
            <i class="fa fa-User"></i>Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" (click)="logout()">
            <i class="fa fa-sign-out"></i>Logout</a>
        </div>
      </div>
      <form #loginForm="ngForm" *ngIf="!loggedIn()" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
        <input class="form-control mr-sm-2" type="text" [(ngModel)]="model.username" name="UserName" required placeholder="UserName">
        <input class="form-control mr-sm-2" type="password" [(ngModel)]="model.password" name="Password" required placeholder="Password">
        <button [disabled] class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
      </form>
    </div>
  </div>
</nav>